@font-face {
	font-family: DINPro;
	font-display: swap;
	src: url("../files/fonts/dinpro_condensedregular.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: DINPro;
	font-display: swap;
	src: url("../files/fonts/dinpro_condensedmedium.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: DINPro;
	font-display: swap;
	src: url("../files/fonts/dinpro_condensedbold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
}