<section class="sect s-gallery" id="s-gallery">
  <div class="container tabs">
    <div class="sect-head">
      <h2 class="s-title">Фотогалерея</h2>
    </div>
    <div class="tabs-nav s-gallery__tabs-nav container-more" data-count-show="10">
      <div data-more-item data-tab-btn="gallery-tab-1" class="s-gallery__tab-btn _active">
        2020
      </div>
      <div data-more-item data-tab-btn="gallery-tab-2" class="s-gallery__tab-btn">2021</div>
      <div data-more-item data-tab-btn="gallery-tab-3" class="s-gallery__tab-btn">2022</div>
      <div data-more-item data-tab-btn="gallery-tab-4" class="s-gallery__tab-btn">2023</div>
      <div data-more-item data-tab-btn="gallery-tab-5" class="s-gallery__tab-btn">2025</div>
      <div data-more-btn class="s-gallery__tab-btn">Показать еще</div>
    </div>
    <div class="tabs-content">
      <div data-tab="gallery-tab-1" class="_active _show">
        <div class="swiper s-gallery__slider">
          <div class="slider-arrow _prev">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-prev'></use>
            </svg>
          </div>
          <div class="slider-arrow _next">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-next'></use>
            </svg>
          </div>
          <div class="swiper-wrapper">
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
          </div>
        </div>
      </div>
      <div data-tab="gallery-tab-2">
        <div class="swiper s-gallery__slider">
          <div class="slider-arrow _prev">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-prev'></use>
            </svg>
          </div>
          <div class="slider-arrow _next">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-next'></use>
            </svg>
          </div>
          <div class="swiper-wrapper">
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
          </div>
        </div>
      </div>
      <div data-tab="gallery-tab-3">
        <div class="swiper s-gallery__slider">
          <div class="slider-arrow _prev">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-prev'></use>
            </svg>
          </div>
          <div class="slider-arrow _next">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-next'></use>
            </svg>
          </div>
          <div class="swiper-wrapper">
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
          </div>
        </div>
      </div>
      <div data-tab="gallery-tab-4">
        <div class="swiper s-gallery__slider">
          <div class="slider-arrow _prev">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-prev'></use>
            </svg>
          </div>
          <div class="slider-arrow _next">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-next'></use>
            </svg>
          </div>
          <div class="swiper-wrapper">
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
          </div>
        </div>
      </div>
      <div data-tab="gallery-tab-5">
        <div class="swiper s-gallery__slider">
          <div class="slider-arrow _prev">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-prev'></use>
            </svg>
          </div>
          <div class="slider-arrow _next">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-next'></use>
            </svg>
          </div>
          <div class="swiper-wrapper">
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
            <a
              href="@img/gallery-img.jpg"
              data-fancybox="gallery"
              class="swiper-slide s-gallery__slide"
            >
              <img src="@img/gallery-img.jpg" alt="image" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
