<section class="s-team sect" id="s-team">
  <div class="container">
    <div class="s-team__slider-wrapper">
      <div class="swiper s-team__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <article class="card-team">
              <img src="@img/team.png" alt="image" class="card-team__img" />
              <div class="card-team__body">
                <h3 class="card-team__title">Эльмира Калимуллина</h3>
                <div class="card-team__btn" data-audio-url="./files/music.mp3">
                  <svg class="icon-play">
                    <use xlink:href="img/icons/icons.svg#icon-play"></use>
                  </svg>
                  <svg class="icon-pause">
                    <use xlink:href="img/icons/icons.svg#icon-pause"></use>
                  </svg>
                  <span>Слушать</span>
                </div>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="card-team">
              <img src="@img/team.png" alt="image" class="card-team__img" />
              <div class="card-team__body">
                <h3 class="card-team__title">Эльмира Калимуллина</h3>
                <div class="card-team__btn" data-audio-url="./files/music.mp3">
                  <svg class="icon-play">
                    <use xlink:href="img/icons/icons.svg#icon-play"></use>
                  </svg>
                  <svg class="icon-pause">
                    <use xlink:href="img/icons/icons.svg#icon-pause"></use>
                  </svg>
                  <span>Слушать</span>
                </div>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="card-team">
              <img src="@img/team.png" alt="image" class="card-team__img" />
              <div class="card-team__body">
                <h3 class="card-team__title">Эльмира Калимуллина</h3>
                <div class="card-team__btn" data-audio-url="./files/music.mp3">
                  <svg class="icon-play">
                    <use xlink:href="img/icons/icons.svg#icon-play"></use>
                  </svg>
                  <svg class="icon-pause">
                    <use xlink:href="img/icons/icons.svg#icon-pause"></use>
                  </svg>
                  <span>Слушать</span>
                </div>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="card-team">
              <img src="@img/team.png" alt="image" class="card-team__img" />
              <div class="card-team__body">
                <h3 class="card-team__title">Эльмира Калимуллина</h3>
                <div class="card-team__btn" data-audio-url="./files/music.mp3">
                  <svg class="icon-play">
                    <use xlink:href="img/icons/icons.svg#icon-play"></use>
                  </svg>
                  <svg class="icon-pause">
                    <use xlink:href="img/icons/icons.svg#icon-pause"></use>
                  </svg>
                  <span>Слушать</span>
                </div>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="card-team">
              <img src="@img/team.png" alt="image" class="card-team__img" />
              <div class="card-team__body">
                <h3 class="card-team__title">Эльмира Калимуллина</h3>
                <div class="card-team__btn" data-audio-url="./files/music.mp3">
                  <svg class="icon-play">
                    <use xlink:href="img/icons/icons.svg#icon-play"></use>
                  </svg>
                  <svg class="icon-pause">
                    <use xlink:href="img/icons/icons.svg#icon-pause"></use>
                  </svg>
                  <span>Слушать</span>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="slider-scrollbar"></div>
    </div>
  </div>
</section>
