<section class="s-tours sect" id="s-tours">
  <img src="@img/tours-img.png" alt="image" class="s-tours__decor">
  <div class="container">
    <div class="sect-head">
      <div class="s-subtitle">АФИША</div>
      <div class="s-tours__head-wrapper">
        <h2 class="s-title">
          Тур по
          <span>20 городам</span>
          России
        </h2>
        <div class="s-tours__sort">
          <div class="text">сортировать по:</div>
          <div class="sort-btn" data-sort-type="city">Городам</div>
          <div class="sort-btn" data-sort-type="date">Датам</div>
        </div>
      </div>
    </div>
    <div class="container-more">
      <div class="s-tours__grid">
        <div
          class="s-tours__item"
          data-date="03.10.2020"
          data-city="Нефтекамск"
        >
          <div class="title">
            <span>03.10.2020</span>
            Нефтекамск
          </div>
          <div class="text">Дом Культуры «Нефтяник»</div>
          <a href="#" target="_blank" class="btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-ticket"></use>
            </svg>
            <span>Купить билет</span>
          </a>
        </div>
        <div
          class="s-tours__item"
          data-date="08.10.2020"
          data-city="Нижневартовск"
        >
          <div class="title">
            <span>08.10.2020</span>
            Нижневартовск
          </div>
          <div class="text">Дом Культуры «Октябрь»</div>
          <a href="#" target="_blank" class="btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-ticket"></use>
            </svg>
            <span>Купить билет</span>
          </a>
        </div>
        <div class="s-tours__item" data-date="12.10.2020" data-city="Челябинск">
          <div class="title">
            <span>12.10.2020</span>
            Челябинск
          </div>
          <div class="text">Конгресс-холл</div>
          <a href="#" target="_blank" class="btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-ticket"></use>
            </svg>
            <span>Купить билет</span>
          </a>
        </div>
        <div class="s-tours__item" data-date="03.11.2026" data-city="Уфа">
          <div class="title">
            <span>03.11.2026</span>
            Уфа
          </div>
          <div class="text">Дворец молодежи</div>
          <a href="#" target="_blank" class="btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-ticket"></use>
            </svg>
            <span>Купить билет</span>
          </a>
        </div>
        <div
          class="s-tours__item"
          data-date="09.03.2020"
          data-city="Нижневартовск"
        >
          <div class="title">
            <span>09.03.2020</span>
            Нижневартовск
          </div>
          <div class="text">Дом Культуры «Октябрь»</div>
          <a href="#" target="_blank" class="btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-ticket"></use>
            </svg>
            <span>Купить билет</span>
          </a>
        </div>
        <div
          class="s-tours__item"
          data-date="05.10.2024"
          data-city="Магнитогорск"
        >
          <div class="title">
            <span>05.10.2024</span>
            Магнитогорск
          </div>
          <div class="text">Конгресс-холл</div>
          <a href="#" target="_blank" class="btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-ticket"></use>
            </svg>
            <span>Купить билет</span>
          </a>
        </div>
        <div
          class="s-tours__item"
          data-date="03.10.2020"
          data-city="Нефтекамск"
        >
          <div class="title">
            <span>03.10.2020</span>
            Нефтекамск
          </div>
          <div class="text">Дом Культуры «Нефтяник»</div>
          <a href="#" target="_blank" class="btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-ticket"></use>
            </svg>
            <span>Купить билет</span>
          </a>
        </div>
        <div
          class="s-tours__item"
          data-date="08.10.2020"
          data-city="Нижневартовск"
        >
          <div class="title">
            <span>08.10.2020</span>
            Нижневартовск
          </div>
          <div class="text">Дом Культуры «Октябрь»</div>
          <a href="#" target="_blank" class="btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-ticket"></use>
            </svg>
            <span>Купить билет</span>
          </a>
        </div>
        <div class="s-tours__item" data-date="12.10.2020" data-city="Челябинск">
          <div class="title">
            <span>12.10.2020</span>
            Челябинск
          </div>
          <div class="text">Конгресс-холл</div>
          <a href="#" target="_blank" class="btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-ticket"></use>
            </svg>
            <span>Купить билет</span>
          </a>
        </div>
        <div class="s-tours__item" data-date="03.11.2026" data-city="Уфа">
          <div class="title">
            <span>03.11.2026</span>
            Уфа
          </div>
          <div class="text">Дворец молодежи</div>
          <a href="#" target="_blank" class="btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-ticket"></use>
            </svg>
            <span>Купить билет</span>
          </a>
        </div>
        <div
          class="s-tours__item"
          data-date="09.03.2020"
          data-city="Нижневартовск"
        >
          <div class="title">
            <span>09.03.2020</span>
            Нижневартовск
          </div>
          <div class="text">Дом Культуры «Октябрь»</div>
          <a href="#" target="_blank" class="btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-ticket"></use>
            </svg>
            <span>Купить билет</span>
          </a>
        </div>
        <div
          class="s-tours__item"
          data-date="12.10.2020"
          data-city="Магнитогорск"
        >
          <div class="title">
            <span>05.10.2024</span>
            Магнитогорск
          </div>
          <div class="text">Конгресс-холл</div>
          <a href="#" target="_blank" class="btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-ticket"></use>
            </svg>
            <span>Купить билет</span>
          </a>
        </div>
        <div
          class="s-tours__item"
          data-date="03.10.2020"
          data-city="Нефтекамск"
        >
          <div class="title">
            <span>03.10.2020</span>
            Нефтекамск
          </div>
          <div class="text">Дом Культуры «Нефтяник»</div>
          <a href="#" target="_blank" class="btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-ticket"></use>
            </svg>
            <span>Купить билет</span>
          </a>
        </div>
        <div
          class="s-tours__item"
          data-date="08.10.2020"
          data-city="Нижневартовск"
        >
          <div class="title">
            <span>08.10.2020</span>
            Нижневартовск
          </div>
          <div class="text">Дом Культуры «Октябрь»</div>
          <a href="#" target="_blank" class="btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-ticket"></use>
            </svg>
            <span>Купить билет</span>
          </a>
        </div>
        <div class="s-tours__item" data-date="12.10.2020" data-city="Челябинск">
          <div class="title">
            <span>12.10.2020</span>
            Челябинск
          </div>
          <div class="text">Конгресс-холл</div>
          <a href="#" target="_blank" class="btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-ticket"></use>
            </svg>
            <span>Купить билет</span>
          </a>
        </div>
        <div class="s-tours__item" data-date="03.11.2026" data-city="Уфа">
          <div class="title">
            <span>03.11.2026</span>
            Уфа
          </div>
          <div class="text">Дворец молодежи</div>
          <a href="#" target="_blank" class="btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-ticket"></use>
            </svg>
            <span>Купить билет</span>
          </a>
        </div>
        <div
          class="s-tours__item"
          data-date="09.03.2020"
          data-city="Нижневартовск"
        >
          <div class="title">
            <span>09.03.2020</span>
            Нижневартовск
          </div>
          <div class="text">Дом Культуры «Октябрь»</div>
          <a href="#" target="_blank" class="btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-ticket"></use>
            </svg>
            <span>Купить билет</span>
          </a>
        </div>
        <div
          class="s-tours__item"
          data-date="05.10.2024"
          data-city="Магнитогорск"
        >
          <div class="title">
            <span>05.10.2024</span>
            Магнитогорск
          </div>
          <div class="text">Конгресс-холл</div>
          <a href="#" target="_blank" class="btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-ticket"></use>
            </svg>
            <span>Купить билет</span>
          </a>
        </div>
        <div
          class="s-tours__item"
          data-date="03.10.2020"
          data-city="Нефтекамск"
        >
          <div class="title">
            <span>03.10.2020</span>
            Нефтекамск
          </div>
          <div class="text">Дом Культуры «Нефтяник»</div>
          <a href="#" target="_blank" class="btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-ticket"></use>
            </svg>
            <span>Купить билет</span>
          </a>
        </div>
        <div
          class="s-tours__item"
          data-date="08.10.2020"
          data-city="Нижневартовск"
        >
          <div class="title">
            <span>08.10.2020</span>
            Нижневартовск
          </div>
          <div class="text">Дом Культуры «Октябрь»</div>
          <a href="#" target="_blank" class="btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-ticket"></use>
            </svg>
            <span>Купить билет</span>
          </a>
        </div>
        <div class="s-tours__item" data-date="12.10.2020" data-city="Челябинск">
          <div class="title">
            <span>12.10.2020</span>
            Челябинск
          </div>
          <div class="text">Конгресс-холл</div>
          <a href="#" target="_blank" class="btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-ticket"></use>
            </svg>
            <span>Купить билет</span>
          </a>
        </div>
        <div class="s-tours__item" data-date="03.11.2026" data-city="Уфа">
          <div class="title">
            <span>03.11.2026</span>
            Уфа
          </div>
          <div class="text">Дворец молодежи</div>
          <a href="#" target="_blank" class="btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-ticket"></use>
            </svg>
            <span>Купить билет</span>
          </a>
        </div>
        <div
          class="s-tours__item"
          data-date="09.03.2020"
          data-city="Нижневартовск"
        >
          <div class="title">
            <span>09.03.2020</span>
            Нижневартовск
          </div>
          <div class="text">Дом Культуры «Октябрь»</div>
          <a href="#" target="_blank" class="btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-ticket"></use>
            </svg>
            <span>Купить билет</span>
          </a>
        </div>
        <div
          class="s-tours__item"
          data-date="12.10.2020"
          data-city="Магнитогорск"
        >
          <div class="title">
            <span>05.10.2024</span>
            Магнитогорск
          </div>
          <div class="text">Конгресс-холл</div>
          <a href="#" target="_blank" class="btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-ticket"></use>
            </svg>
            <span>Купить билет</span>
          </a>
        </div>
      </div>
      <div class="s-tours__line"></div>
      <div class="s-tours__btn-more">
        <svg>
          <use xlink:href='img/icons/icons.svg#icon-arrow-down'></use>
        </svg>
        <span>раскрыть все города</span>
      </div>
    </div>
  </div>
</section>
