@use "../base/templates" as *;
@use "../base/media" as *;

.a-player {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: "DINPro", sans-serif;
  font-weight: 700;

  @include tablet-min {
    flex-direction: row-reverse;
  }

  &._playing {
    .a-player-btn {
      background-image: url("@img/pause-icon.svg");
    }
  }
}
.a-player-btn {
  @include flex-center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
  background: url("@img/play-icon.svg") center / 18px auto no-repeat;
  background-color: rgba(255, 255, 255, 0.3);

  transition: background-color 0.3s ease;
  @include hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
  @include tablet-min {
    width: 40px;
    height: 40px;
    background-size: 12px 12px;
  }
}
.a-player-body {
  width: 200px;

  @include tablet-min {
    font-size: 12px;
    width: auto;
    text-transform: none;
    font-weight: 400;
  }
}
.a-player-name {
  margin-bottom: 10px;
  font-size: 20px;
  text-transform: uppercase;
  @include tablet {
    font-size: 18px;
  }
  @include tablet-min {
    margin-bottom: 0;
    font-size: 14px;
  }
}
.a-player-progressbar {
  position: relative;
  width: 100%;
  height: 5px;
  border-radius: 6px;
  overflow: hidden;
  background-color: white;

  @include tablet-min {
    display: none;
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--progress);
    background-color: var(--yellow);
    z-index: 1;
  }
}
.a-player-progressbar-range {
  position: absolute;
  cursor: pointer;
  inset: 0;
  opacity: 0;
  z-index: 1;
}
.a-player-time {
  @include flex-between;
  gap: 10px;
  margin-top: 10px;

  font-weight: 500;
  font-size: 16px;
  @include tablet {
    font-size: 14px;
  }
  @include tablet-min {
    display: none;
  }
}
.a-player-time-current {
}
.a-plyer-time-full {
}
