[data-more-item] {
  display: none !important;
  opacity: 0;
  transform: translateY(20px);

  transition:
    opacity 0.3s ease,
    transform 0.3s ease;

  &._open {
    display: block !important;
  }
  &._show {
    transform: translateY(0);
    opacity: 1;
  }
}
